*{
    margin: 0;
    padding: 0;
}
footer{
    align-items: center;
    position: absolute;
    display: flex;
    margin-top: 630vh;
    width: 100%;
    height: 20vh;
    background-color: rgb(119, 165, 255);
    .AboutSite{
        width: 25%;
        color: #fff;
        display: flex;
        margin-left: 60%;
        h5{
            margin-left: 5%;
        }
    }
    .Writer{
        color: #fff;
        margin-left: 3%;
    }
}
@media (max-width:620px) {
    footer{
        margin-top: 0%;
        .AboutSite{
            margin-left: -10%;
            margin-top: 20%;
        }
    }
}